*{
    box-sizing: border-box;
}


body{
    height: 100vh;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    /* background: url(unnamed.jpg) no-repeat center/cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
background-color: aquamarine;
border-radius: 10px;
width: 400px;
text-align: center
}

.card-header {
background-color: plum;
padding: 20px;
}

.card-body {

}

.card-footer {
background-color: plum;
padding: 20px;
}
.card-footer button{
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);;
    border: none;
    box-shadow: 8px 8px 8px gray;
}